<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="32"
            tools:ignore="ScopedStorage" />
    <uses-permission
            android:name="android.permission.READ_EXTERNAL_STORAGE"
            android:maxSdkVersion="32" />

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true" />

    <application
            android:name=".global.GlobalApplication"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:enableOnBackInvokedCallback="true"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@drawable/kidbean"
            android:label="키드콩"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@drawable/kidbean"
            android:supportsRtl="true"
            android:theme="@style/Theme.Front"
            android:usesCleartextTraffic="true"
            tools:replace="android:usesCleartextTraffic"
            tools:targetApi="33">
        <activity
                android:name=".program.ui.ProgramStarActivity"
                android:exported="false" />
        <activity
                android:name=".program.ui.ProgramHomeActivity"
                android:exported="false" />
        <activity
                android:name=".program.ui.ProgramDetailActivity"
                android:exported="false" />
        <activity
                android:name=".home.ui.SignUpActivity"
                android:exported="false" />
        <activity
                android:name=".program.ui.ProgramListActivity"
                android:exported="false" />
        <activity
                android:name=".quiz.answer.ui.AnswerQuizNextDialog"
                android:exported="true"
                android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
                android:name=".quiz.word.ui.WordQuizNextDialog"
                android:exported="true"
                android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
                android:name=".quiz.image.ui.ImageQuizNextDialog"
                android:exported="true"
                android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
                android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                        android:host="oauth"
                        android:scheme="kakao${KAKAO_NATIVE_APP_KEY}" />
            </intent-filter>
        </activity>
        <activity
                android:name=".login.ui.LoginActivity"
                android:exported="true" />
        <activity
                android:name=".quiz.QuizListActivity"
                android:exported="true" />
        <activity
                android:name=".quiz.answer.ui.AnswerQuizListActivity"
                android:exported="false" />
        <activity
                android:name=".quiz.answer.ui.AnswerQuizUpdateActivity"
                android:exported="false" />
        <activity
                android:name=".quiz.answer.ui.AnswerQuizUploadActivity"
                android:exported="false" />
        <activity
                android:name=".quiz.answer.ui.AnswerQuizShowActivity"
                android:exported="false" />
        <activity
                android:name=".quiz.image.ui.ImageQuizSolveActivity"
                android:exported="false" />
        <activity
                android:name=".quiz.answer.ui.AnswerQuizSolveActivity"
                android:exported="false" />
        <activity
                android:name=".quiz.word.ui.WordQuizSolveActivity"
                android:exported="false" />
        <activity
                android:name=".quiz.word.ui.WordQuizUploadActivity"
                android:exported="false" />
        <activity
                android:name=".quiz.word.ui.WordQuizUpdateActivity"
                android:exported="false" />
        <activity
                android:name=".quiz.word.ui.WordQuizListActivity"
                android:exported="false" />
        <activity
                android:name=".quiz.word.ui.WordQuizShowActivity"
                android:exported="false" />
        <activity
                android:name=".quiz.MyQuizActivity"
                android:exported="true" />
        <activity
                android:name=".quiz.image.ui.ImageQuizListActivity"
                android:exported="false" />
        <activity
                android:name=".quiz.image.ui.ImageQuizUploadActivity"
                android:exported="false" />
        <activity
                android:name=".quiz.image.ui.ImageQuizUpdateActivity"
                android:exported="false" />
        <activity
                android:name=".quiz.image.ui.ImageQuizShowActivity"
                android:exported="false" />
        <activity
                android:name=".home.ui.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".mypage.MypageActivity"
                android:exported="false" />
        <activity
                android:name=".mypage.MySolvedQuizActivity"
                android:exported="false" />
        <activity
                android:name=".mypage.image.ui.SolvedImageQuizMainActivity"
                android:exported="false" />
        <activity
                android:name=".mypage.image.ui.RightQuizListActivity"
                android:exported="false" />
        <activity
                android:name=".mypage.image.ui.WrongQuizListActivity"
                android:exported="false" />
        <activity
                android:name=".mypage.image.ui.ImageQuizSolvedDetailActivity"
                android:exported="false" />
        <activity
                android:name=".mypage.word.ui.SolvedWordQuizListActivity"
                android:exported="false" />
        <activity
                android:name=".mypage.word.ui.SolvedWordQuizDetailActivity"
                android:exported="false" />
        <activity
                android:name=".mypage.answer.ui.SolvedAnswerQuizMainActivity"
                android:exported="false" />
        <activity
                android:name=".mypage.answer.ui.SolvedAnswerQuizListActivity"
                android:exported="false" />
        <activity
                android:name=".mypage.answer.ui.SolvedAnswerQuizDetailActivity"
                android:exported="false" />
    </application>

</manifest>